# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Next.js build output
.next/
out/

# Prisma-related files
prisma/dev.db
prisma/migrations/*/migration.sql

# Ignore environment variable files
.env
.env.local
.env.*.local

# IDE specific settings
.vscode/
.idea/

# Ignore temporary files
*.swp
*.swo
*.bak
*.tmp
*.temp

# Ignore cache or temporary files
.cache/
.history/
